services:
  postgres:
    image: postgres:17.1
    container_name: dominotepg
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dominote_network

networks:
  dominote_network:
    external: false

volumes:
  postgres_data:
